@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --vd-cyan: hsl(183, 100%, 15%);
  --dg-cyan: hsl(186, 14%, 43%);
  --light-dg-cyan: hsl(184, 14%, 56%);
  --lg-cyan: hsl(185, 41%, 84%);
  --light-lg-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --form-inputs: 24px;
}

* {
  box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--lg-cyan);
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  width: 650px;
}

.calculator .form-screen {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.calculator .form-screen .input-field {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.calculator .form-screen input {
  direction: rtl;
}

.calculator .form-screen .input-field .inp-holder {
  width: 100%;
  position: relative;
}
.calculator .form-screen .input-field .inp-holder:nth-of-type(1)::before {
  content: url(./images/icon-dollar.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 7px;
}

.calculator .form-screen .input-field .inp-holder:nth-of-type(2)::before {
  content: url(./images/icon-person.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 7px;
}

.calculator .form-screen input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--light-lg-cyan);
  padding: 7px 7px 7px 27px;
  border-radius: 3px;
  color: var(--vd-cyan);
  font-size: 17px;
  font-weight: 700;
  border: 2px solid transparent;
  caret-color: var(--strong-cyan);
}

.calculator .form-screen input:focus {
  border: 2px solid var(--strong-cyan);
}

.calculator .form-screen .tips-holder input {
  padding: 7px;
}

.calculator .form-screen .input-field input::placeholder {
  font-weight: 700;
  color: var(--light-dg-cyan);
  font-size: 17px;
}

.calculator .form-screen .labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.calculator .form-screen p.label {
  font-weight: 700;
  color: var(--dg-cyan);
  margin: 0 0 10px;
  font-size: 14px;
}

.calculator .form-screen p.irre {
  color: rgb(255, 108, 135);
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
}

.calculator .form-screen .tips-holder .tips {
  display: grid;
  grid-template-columns: repeat(3, minmax(75px, 1fr));
  grid-template-rows: repeat(2, 33px);
  gap: 10px;
}

.calculator .form-screen .tips-holder .tips button {
  border: none;
  background-color: var(--vd-cyan);
  color: var(--white);
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.calculator .form-screen .tips-holder .tips button:hover {
  background-color: var(--lg-cyan);
  color: var(--vd-cyan);
}

.calculator .form-screen .tips-holder .tips button.selected {
  background-color: var(--strong-cyan);
  color: var(--vd-cyan);
  cursor: unset;
}

.calculator .result-screen {
  background-color: var(--vd-cyan);
  flex-basis: 50%;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.calculator .result-screen .amounts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.calculator .result-screen .amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.calculator .result-screen .amount .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
}

.calculator .result-screen .amount .text p:first-of-type {
  color: var(--white);
  margin: 0;
  font-weight: 700;
}
.calculator .result-screen .amount .text p:last-of-type {
  color: var(--light-dg-cyan);
  margin: 0;
}

.calculator .result-screen .amount .numeric-val {
  color: var(--strong-cyan);
  font-size: 35px;
  margin: 0;
  font-weight: 700;
}

.calculator .result-screen button {
  width: 100%;
  border: none;
  background-color: var(--strong-cyan);
  color: var(--vd-cyan);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  border-radius: 4px;
  padding: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.calculator .result-screen button:hover {
  background-color: var(--lg-cyan);
}
